{% extends "base.html" %}

{% block title %}New {{ arg }}{% endblock %}

{% block content %}
    <div class="order" style="width: 100%">
        <div>
            <h1>New {{ arg }}</h1>
            <h3>Your {{ arg }}</h3>
        </div>
        <div class="order-info">
            <form action="." method="post" enctype="multipart/form-data" class="order-form" style="text-align: right; margin-left: 40px;">
                {{ form.as_p }}
                <p><input class="btn btn-outline-dark mt-auto" type="submit" value="Add {{ arg }}"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
